.sign-up-page {
    display: flex;
    position: relative;

}
.brand-logo {
    position: absolute;
    top: 1.5rem;
}
.sign-up-side-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 50%;
    width: 50%;
    padding: 4rem;
    padding-bottom: 10%;
    background: url(../../images/bg-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    right: 0;
}
.sign-up-side-container-2 h2 {
    font-family: 'gilroy-semibold';
    /* font-family: 'cabinet-grotesk-variable'; */
    font-style: normal; 
    font-weight: 800 !important;
    font-size: 48px;
    letter-spacing: 0.02em;
    color: #F0F0F0;

}
.sign-up-side-container-2 p {
    color: #FFF;
    margin-bottom: 1.5rem;
}


.sign-up-form-container-2 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 4rem;
    position: relative;
}

.sign-up-form-container-2 header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.sign-up-form-container-2 header h2 {
    font-family: 'gilroy-semibold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 12px;
    color: #050213;
}
.sign-up-form-container-2 header p {
    font-size: 20px;
    color: #656468;
}
.sign-up-form-container-2 header a {
    margin-left: 1rem;
}

.sign-up-form-container-2 form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.sign-up-form-container-2 form span {
    display: flex;
    flex-direction: column;
}
.sign-up-form-container-2 form label {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 1rem;
}
.phone2 p{
    color: #050213 !important;
}
.sign-up-form-container-2 form input {
    padding:  0 1rem;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid rgba(71, 51, 172, 0.5);
    border-radius: 5px;
    /* font-family: 'cabinet-grotesk-regular'; */
    font-size: 16px;
}
.sign-up-form-container-2 form input::placeholder {
    /* font-family: 'cabinet-grotesk-regular'; */
    font-size: 16px;
    color: #ccc;
}

.form-full-name {
    display: flex;
    column-gap: 1.5rem;
    width: 100%;
    flex-direction: row;
}
.form-full-name span {
    flex-basis: 50%;
}


.form-cta {
    margin-top: 64px;
    width: 100%;
}
.form-cta button {
    width: 100%;
    max-width: 300px;
    height: 64px;
    background: #4733AC;
    border: 1px solid #4733AC;
    border-radius: 5px;
    font-family: 'gilroy-medium';
    font-size: 20px;
    color: #FFF;
}

.form-cta p {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    color: #656468;
}


.google-sign-up button{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    column-gap: .5rem;
    align-items: center;
    background: transparent;
    border: 1px solid rgba(71, 51, 172, 0.5);
    border-radius: 5px;
    border-radius: 5px;
    font-family: 'gilroy-regular';
    font-size: 16px;
    color: #060D1C;
}
.google-sign-up button .google-icon {
    font-size: 32px;
}

.another-or-container {
    margin-top: 0;
    margin: 1rem 0;
}
.or-container.another-or-container div {
    background-color: #6564687f;
}
.or-container.another-or-container p {
    font-family: 'gilroy-semibold' !important;
    color: #4733AC;
}


@media (max-width: 786px) {
    .sign-up-page {
        flex-direction: column;
    }
    .sign-up-side-container-2 {
        display: none;
    }
    .sign-up-form-container-2 {
        padding: 6rem 1rem !important;
    }
    .form-cta {
        margin-top: 32px;
    }
    .sign-up-form-container-2 header {
        margin-bottom: 3rem;
    }
    .sign-up-form-container-2 header h2 {
        font-size: 32px;
    }
}