.rent-loan-container {
    background: #ECECEC;
    height: 100%;
}

/* RENT LOAN HEROE SECTION */

.rent-loan-heroe {
    display: flex;
    height: 100vh;
}
.rent-loan-heroe-content {
    display: flex;
    margin-top: 12rem;
    padding: 0 80px;
    max-height: 700px;
    column-gap: 3rem;

}
.rent-loan-heroe-content div {
    display: flex;
}

.rent-loan-heroe-img {
    border-radius: 10px;
    flex-basis: 30%;
}

.rent-loan-heroe-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 40%;
    position: relative;
}

#money-cont-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 80px;
    background: rgba(26, 116, 232, 0.05);
    margin-bottom: 3rem;
}
#money-cont-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 24px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background:#4733AC;
}
.circle-img {
    position: absolute;
    top: 190px;
    left: 220px;
    transform: translate(0%);
}
.rent-loan-heroe-text h2 {
    font-family: 'gilroy-bold';
    font-size: 49px;
    font-weight: 400;
    font-size: 72px;
    line-height: 99px; 
    letter-spacing: 0.02em;
    color: #050213;
    margin-bottom: 1rem;
}
.rent-loan-heroe-text h2 span {
    color: #D63434;
}
.rent-loan-heroe-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: #555;
    margin-bottom: 3rem;
}

.rent-loan-heroe-text button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    height: 72px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #4733AC;
    color: #FFF;
}
.rent-loan-heroe-text button p {
    color: #FFF;
    margin-bottom: 0 !important;
}
.rent-loan-heroe-text button .proceed-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 50px;
    height: 42px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}




/* END OF RENT LOAN HEROE SECTION */



/* RENT LOAN HOW IT WORKS SECTION */

.hit-container {
    padding: 0 80px;
    padding-top: 10rem;
    background: #FFF;
}

.rent-loan-hit-container {
    display: flex;
    column-gap: 3rem;
}

.rent-loan-hit-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 35%;
}
/* .rent-loan-hit-header img:nth-child(1) {
    margin-bottom: 2rem;
} */
.rent-loan-hit-header h3 {
    font-family: 'gilroy-bold';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 72px;
    color: #333333;
    margin-top: 3rem;
}

.rent-loan-hits {
    flex-basis: 65%;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
    padding-bottom: 48px;
}

.rent-loan-hit {
    display: flex;
    padding: 4rem 3rem;
    flex-direction: column;
    background: rgba(71, 51, 172, 0.1);
    border-radius: 5px;

}
.rent-loan-hit:nth-child(even) {
    transform: translateY(48px);
}

.hit-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: rgba(117, 114, 234, 0.1);
    border-radius: 60px;
    margin-bottom: 2rem;
}
.hit-icon img {
    width: 30px;
}

.rent-loan-hit h4 {
    font-family: 'Gilroy-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: #111111;
}
.rent-loan-hit p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #333333;
    margin-top: 2rem;
}
.rent-loan-hit a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    font-size: 16px;
}
.rent-loan-hit a span {
    color: #D63434;
}

@media screen and (max-width: 786px) {
    .hit-container {
        padding: 0 1rem;
    }
    .rent-loan-hit-container {
        flex-direction: column;
    }
}



/* END OF RENT LOAN HOW IT WORKS SECTION */



/*  RENT LOAN REACH OUT TO US */

.reach-out-container {
    margin: 6rem 0;
    height: 420px;
    width: 100%;
    background: #4733AC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
}


.reach-out-container p {
    font-family: 'gilroy-medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.reach-out-container h3 {
    font-family: 'gilroy-semibold';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 1rem 0;
}
.reach-out-container button {
    width: 100%;
    max-width: 350px;
    height: 72px;
    background: #7572EA;
    border: 1.5px solid #7572EA;
    color: #FFF;
    font-size: 24px;
    border-radius: 5px;
    margin-top: 1rem;
}

.reach-out-container button:hover {
    background: #FFF;
    color: #4733AC;
    transition: all 0.5s ease-in-out;
}

.reach-out-container img {
    position: absolute;
}
.reach-out-container img:nth-child(1) {
    left: 5rem;
    top: 3rem;
}
.reach-out-container img:nth-child(2) {
    right: 5rem;
    top: 3rem;
}
.reach-out-container img:nth-child(3) {
    left: 20%;
    bottom: 3rem;
}
.reach-out-container img:nth-child(4) {
    right: 20%;
    bottom: 3rem;
}