.dashboard-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dashboard-main {
    background: rgba(46, 103, 222, 0.05);
    flex-basis: 80%;
    margin-left: 20%;
    height: 100vh;
}

.add-new-property-container {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    padding: 0 3rem;
    margin-top: 2rem;
}

.add-new-property-container header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.add-new-property-container header h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #333333;
}

.apa {
    display: flex;
    align-items: center;
    font-style: normal;
    column-gap: .5rem;
    font-weight: 600;
    font-size: 22px;
    color: #333333;
}

.add-property-cta {
    display: flex;
    column-gap: 1rem;
}

.add-property-cta button:nth-child(1) {
    background: none;
    outline: none;
    border: none;
    font-family: 'gilroy-medium';
    color: #D63434;
}

.add-property-cta button:nth-child(2) {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #4733AC;
    font-family: 'gilroy-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.steps-filters {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: 1rem 2rem;
    background: #FFF;
    border-radius: 5px;
}

.steps-filters .step {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    min-width: fit-content;
}

.step span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(26, 26, 26, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-family: 'gilroy-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
}

.step.active-step span {
    background-color: #4733AC;
    color: #FFF;
}

.step-connector {
    display: flex;
    width: 100%;
    border-bottom: 1px dashed #757575;
}

.step-connector.active-connector {
    border-color: #4733AC;
}

.add-propery-form-container,
.gallery-upload-container {
    margin-top: 1.5rem;
    padding: 2rem;
    background-color: #FFF;
    min-height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.step-title {
    font-family: 'gilroy-medium';
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #333;
}

.basic-info-form {
    display: flex;
    column-gap: 3rem;
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
}

.basic-info-form div {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.basic-info-form div:nth-child(1) {
    border-right: 1px solid #aeaeae;
    padding-right: 3rem;
}

.basic-info-form div:nth-child(1) input,
.col-2 input,
.basic-info-form div textarea,
.input-selection {
    padding: 0 1rem;
    height: 50px;
    background: transparent;
    border: 1px solid rgba(51, 51, 51, 0.3);
    border-radius: 5px;
    font-family: 'gilroy-regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #333333;
    margin-top: 1rem;
    resize: none;
}

.basic-info-form div textarea {
    padding: 1rem;
}

.basic-info-form div:nth-child(1) input::placeholder {
    color: #757575d5;
}

.basic-info-form div label {
    font-size: 15px;
    font-family: 'gilroy-medium';
    color: #333333;
    margin-top: 1.5rem;
}

.basic-info-form div textarea {
    height: 150px;
}

.basic-info-form div input::placeholder {
    font-size: 14px;
}

.basic-info-form div:nth-child(1) input:hover,
.basic-info-form div:nth-child(1) input:focus,
.col-2 input:hover,
.col-2 input:focus,
.basic-info-form div textareaL:hover,
.basic-info-form div textareaL:focus,
.input-selection:hover,
.input-selection:focus {
    border-color: #4733AC;
    outline: none;
}

.basic-info-form div:nth-child(1) input:-webkit-autofill,
.basic-info-form div:nth-child(1) input:-webkit-autofill:hover,
.basic-info-form div:nth-child(1) input:-webkit-autofill:focus,
.col-2 input:nth-child(1) input:-webkit-autofill:hover,
.col-2 input:-webkit-autofill,
.col-2 input:-webkit-autofill:focus,
.basic-info-form div textarea:-webkit-autofill,
.basic-info-form div textarea:-webkit-autofill:hover,
.basic-info-form div textarea:-webkit-autofill:focus,
.basic-info-form div select:-webkit-autofill,
.basic-info-form div select:-webkit-autofill:hover,
.basic-info-form div select:-webkit-autofill:focus {
    border: 1px solid rgba(51, 51, 51, 0.3);
    -webkit-text-fill-color: #333333;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

#house-type-option * {
    border: none;
    background: #ECECEC;
    padding: .5rem;
    /* height: 50px; */
}




.form-message-info {
    font-size: 15px;
    margin-top: 1.5rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    text-align: center;
    background: rgba(214, 52, 52, 0.15);
    padding: 0 3rem;
    border-radius: 5px;
}
.form-message-info p {
    color: #333;
}
.form-message-info .iconify {
    color: rgba(214, 52, 52, 0.993);
    font-size: 18px;
}

.property-form-cta {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 3rem;
}

.property-form-cta button:nth-child(1) {
    background: none;
    border: none;
    outline: none;
    color: #D63434;
    font-family: 'gilroy-medium';
    font-size: 16px;
}

.property-form-cta button:nth-child(2) {
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    background: #4733AC;
    border: 1px solid #4733AC;
    border-radius: 5px;
    font-family: 'gilroy-medium';
    font-size: 16px;
    color: #FFF;
}

.location-map {
    margin-top: 1.5rem;
}

.location-map iframe {
    height: 100%;
    border-radius: 5px;
}


.uploaded-pictures {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 3rem 0;
    width: 100%;
}

.uploaded-pictures div {
    display: flex;
    position: relative;
    height: 250px;
    border-radius: 5px;
    overflow: hidden;
}

.uploaded-pictures div .picture-delete-btn {
    display: flex;
    transform: translateX(100%);
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1.5rem;
    background-color: #00000053;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.picture-delete-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 22px;
    color: #D63434;
}

.uploaded-pictures div:hover .picture-delete-btn {
    transform: translateX(0%);
    transition: all 0.1s ease-in;
}

.uploaded-pictures div img {
    object-fit: cover;
    object-position: center center;

}

.input-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    background: #FFFFFF;
    border: 1.5px dashed rgba(214, 52, 52, 0.74);
    border-radius: 5px;
    cursor: pointer;
}

.input-image-container p {
    font-family: 'gilroy-medium';
}

/* .input-image-container input {
    display: none;
} */

.amenities-info-form {
    width: 100%;
    padding: 0 2rem;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
    align-items: center;
    margin: 3rem 0;
}

.amenity {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(117, 117, 117, 0.3);
    padding: 1rem 1rem;
}

.amenity-icons {
    font-size: 34px !important;
}

.amenity:hover {
    border-color: #4733AC;
}

.amenity input {
    border: none;
    max-width: 36px;
    font-size: 24px;
    color: #333333;
    margin-left: 1rem;
}

.amenity input:hover,
.amenity input:focus {
    border: none !important;
}

.amenity input::placeholder {
    color: #aeaeae;
}




.col-2 aside {
    margin-top: 4rem;
    display: flex;
    background: #d634342f;
    border: 1px solid #d6343492;
    height: 60px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
}



.apartment-added-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(26, 26, 26, 0.2);
    width: 100%;
    height: 100vh;
}

.apartment-added-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFF;
    max-width: 550px;
    height: 450px;
    border-radius: 40px;
    padding: 2rem;
}

.apartment-added-modal img {
    margin-bottom: 1.5rem;
    width: 80px;
}

.apartment-added-modal h4 {
    font-family: 'gilroy-medium';
    font-size: 24px;
    color: #050213;
    margin-bottom: 1rem;
}

.apartment-added-modal p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.apartment-added-modal-cta {
    display: flex;
    column-gap: 1rem;
    margin-top: 2rem;
    width: 100%;
}

.apartment-added-modal-cta .modal-cta {
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    /* max-width: 350px; */
    background: #4733AC;
    border: 1px solid #4733AC;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apartment-added-modal-cta .modal-cta:nth-child(1) {
    background: none;
    color: #4733AC;
}


@media (max-width: 1186px) {
    .dashboard-main {
    flex-basis: 90% !important;
    margin-left: 10% !important;
}

.add-new-property-container {
    padding: 0 1.5rem !important;
}

.overview-header {
    padding: 0 1.5rem !important;
}
.transaction-history-overview {
    margin: 1.5rem !important;
}
}

@media  screen and (max-width: 868px) {
    .dashboard-main {
        flex-basis: 100% !important;
        margin-left: 0% !important;
        width: 100% !important;
    }
}

@media  screen and (max-width: 668px) {
    .add-propery-form-container,
    .gallery-upload-container {
        padding:  3rem 1rem;
        margin-bottom: 1rem;
    }
    .apartment-added-modal-container {
        padding: 0 1rem;
    }
    .apartment-added-modal-cta {
        flex-direction: column-reverse;
        row-gap: 1rem;
    }

.add-new-property-container {
    padding: 0 1rem !important;
}
    .basic-info-form {
        flex-direction: column;
        /* row-gap: 2rem; */
    }
    .basic-info-form div:nth-child(1) {
        border-right: none;
        padding-right: 0;
    }
    .uploaded-pictures {
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 1rem;
        padding: 0rem;
    }
    .amenities-info-form{
        padding: 0;
        margin: 2rem;
    }
    .steps-filters {
        padding: 1rem;
    }
    .step p {
        display: none;
    }
    .apa {
        display: flex;
        width: 100%;
        justify-content: space-between !important;
    }
    .apa h4 {
        font-size: 18px !important;
    }
}