.dashboard-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dashboard-main {
    background: rgba(46, 103, 222, 0.05);
    flex-basis: 80%;
    margin-left: 20%;
    height: 100vh;
}








.page-title {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0 3rem;
    margin-top: 2rem;
}
.page-title h4,
.property-page-title h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #333333;
}


.overview-date button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    padding: 0 1rem;
    background: rgba(117, 114, 234, 0.1);
    border: 1px solid #4733AC;
    border-radius: 3px;
}

.overview-header {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0 48px;
}
.overview-header div {
    flex-basis: 32%;
    display: flex;
    flex-basis: 1fr;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 250px;
    border-radius: 5px;
    width: 100%;
    /* max-width: 270px; */
}

.total-income {
    background: #4733AC;

}

.total-outstanding {
    background: #7572EA;
    margin-left: 1rem;
}

.total-income header,
.total-outstanding header {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    width: 100%;
    padding: .4rem 0;
    font-family: 'gilroy-medium';
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.total-amount {
    font-family: 'gilroy-medium';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
}
.unpaid-stat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: .7rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.unpaid-stat p {
    font-family: 'gilroy-medium';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #F0F0F0;

}
.total-outstanding-cta {
    display: flex;

    column-gap: .5rem;
    width: 100%;
}
.total-outstanding-cta button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    height: 36px;
    background: none;
    /* display: flex;
    justify-content: center; */
    font-family: 'gilroy-regular';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    flex-basis: 50%;

}




.properties-amount {
    flex-direction: column !important;
    /* height: 100%; */
    row-gap: 1rem;
    margin-left: 1rem;
    padding: 0 !important;
}
.properties-amount span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
    height: 200px !important;
    width: 100%;
    background: #FFFFFF;
    border-left: 10px solid #4733AC;        
    flex-basis: 50%;
    padding: 1rem 2rem;
}
.properties-amount span header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.05);
    border-radius: 3px;
    width: 100%;
    padding: .4rem 0;
    /* font-family: 'gilroy-medium'; */
    font-weight: 500;
    font-size: 20px;
    color: #555;
 }
 .properties-amount span p {
    font-family: 'gilroy-medium';
    font-size: 22px;
    font-weight: 600;
 }

 .transaction-history-overview {
    padding: 0rem;
    margin: 1.5rem 48px;
    margin-top: 3rem;
    background: #FFF;
    /* width: 62%; */
    border-radius: 5px;
 }
.transaction-history-overview header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}
.transaction-history-overview header h6 {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}
.transaction-history-overview header a {
    color: #D63434;
}
 .transaction-history-overview table thead tr{
    border: none !important;
 }
/* .payment-history {
    width: 100% !important;
} */
 .payment-history .action-icon {
    color: #D63434;
 }
