.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    padding: 0rem 80px;
    height: 80px;
    background: #FFF;
    z-index: 1111111111;

}
.logo {
    display: flex;
}
.logo img {
    width: 45px;
}

.cta-btn {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.cta-btn button {
    background: none;
    outline: none;
    width: 100px;
    height: 40px;
    border: 2px solid #4733AC;
    border-radius: 5px;
}
.hamburger {
    display: none;
}



@media screen and (max-width: 1100px) {
    .nav-bar {
        padding: 0rem 24px;
    }
}
@media screen and (max-width: 768px) {
    .nav-bar {
        z-index: 11111;
        padding: 0rem 1rem;
        height: 70px;
    }
    .logo img {
        width: 36px;
    }
    .cta-btn {
        display: none;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        row-gap: .4rem;
    }
    .hamburger div {
        width: 30px;
        height: 3px;
        background: #1A1A1A;
    }
}