.sign-in-container-side {
    background: url(../../images/bg-4.jpg) !important;

    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /* background: url(../../Images/bg.jpg) !important; */
}
.sign-in-form-cta button {
    background: #7572EA;
    border-color: #7572EA;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
    color: #CC2828;
}