.payment-mode-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: #ECECEC;
    padding-top: 10rem;
    min-height: 100vh;
}

.payment-mode {
    width: 100%;
    max-width: 900px;
}

.payment-mode header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: 100%;
}
.payment-mode header h3 {
    font-family: 'gilroy-bold';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #050213;
}

.payment-mode .mode-info-icon {
    color: #D63434;
    font-size: 24px;
}

.mode-navbar {
    background: rgba(26, 116, 232, 0.05);
    border-radius: 8px;
    margin-top: 49px; 
    display: flex;
    column-gap: 8px;
    width: 100%;
    height: 86px;
    padding: 8px;
}
.mode-navbar span {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'gilroy-semibold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #050213;
    cursor: pointer;
}
.active-payment-mode,
.mode-navbar span:hover {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 1px rgba(27, 27, 28, 0.16);
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
}

.payment-mode-content {
    display: none;
}
.active-payment-mode-content {
    display: flex;
}

.pay-fully {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
}

.tenant-apartment-details {
    display: flex;
    padding-bottom: 2rem;
    border-bottom: 1px solid #CCCCCC;
}
.tenant-apartment-details .tenant-det-container,
.tenant-apartment-details .apartment-det-container {
    flex-basis: 50%;
    align-items: center;
}
.tenant-apartment-details div img{
    object-fit: cover;
    object-position: center;
    height: 80px;
    width: 80px;
    border-radius: 5px;
}
.tenant-apartment-details div h6 {
    font-family: 'gilroy-semibold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #1A1A1A;
    margin-bottom: .5rem;
}
/* .tenant-det-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
} */
.tenant-det-container h5,
.apartment-det-container h5,
.apartment-price-breakdown-container header h5 {
    font-family: 'gilroy-medium';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 2rem;
/* identical to box height */

color: #757575;
}
.tenant-det {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
    border-right: 1px solid #CCCCCC;
    margin-right: 2rem;
}
.tenant-det p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #044E54;

}
.apartment-det {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
}
.apartment-det p{
    color: #333;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

}

.apartment-price-breakdown-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 2rem;
}
.apartment-price-breakdown-container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.apartment-price-breakdown {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 1rem;
}
.apartment-price-breakdown span {
    display: flex;
    justify-content: space-between;
}

.apartment-price-breakdown span p:nth-child(1) {
    font-family: 'gilroy-medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #333333;
}
.apartment-price-breakdown span p:nth-child(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    color: #757575;
}

.total-price-payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid #CCCCCC;
}
.total-price-payment h4 {
    font-family: 'gilroy-semibold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #050213;
}
.payment-cta {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2rem;
}
.pay-wallet-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4733AC;
    outline: none;
    border: none;
    border-radius: 8px;
    height: 72px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.pay-card-btn {
    transition: 0.5s ease-in-out;
    background: transparent;
    color: #1A1A1A;
    border: 1px solid #4733AC;
    /* margin-top: 1rem; */
}
.pay-wallet-btn:hover {
    background: #7572EA;
    color: #fff;
}
.pay-card-btn:hover {
    background: #FFF;
    color: #050213;
}

.pay-later-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.pay-later-info p {
    max-width: 500px;
    font-family: 'gilroy-medium';
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 156% */

text-align: center;

color: #757575;
}
.powered-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.powered-by span {
    display: flex;
    justify-content: center;
    padding: .5rem 2rem;
    margin-top: 1rem;
    width: 253px;
    height: 45px;


    background: #06283D;
    border-radius: 3px;
}

.important-info {
    background: rgba(214, 52, 52, 0.15);
    border-radius: 8px;   
    margin-top: 2rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.important-info h5 {
    font-family: 'gilroy-medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #555555;
}
.important-info h5 span {
    font-family: 'gilroy-semibold';
    color: #050213;
}

.payment-successful-modal {
    max-width: 600px;
    height: 550px;
}
.payment-successful-modal img {
    width: 200px;
    margin-bottom: 0;
}