.sign-up-body.market-place-body {
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
}

.heroe-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    max-height: max-content;
    overflow: hidden;
}
.heroe-form input {
    font-family: 'gilroy-regular';
    display: flex;
    height: 70px;
    padding:  0 3rem;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    /* letter-spacing: 0.02em; */
    color: #050213;
    border: none;
    outline: none;
    border-radius: 5px;
}
.heroe-form input::placeholder {
    font-size: 18px;
    color: #acacac;
}
.heroe-form button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    width: 200px;
    height: 50px;
    background: #4733AC;
    border: 1.5px solid #4733AC;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.heroe-form button:hover {
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
    background: #7572EA;
}
.location-icon {
    font-size: 24px;
}
.apartments {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
    margin-top: 2rem;
}
.apartment {
    display: flex;
    flex-direction: column;
    background-color: #4733ac0c;
    border: none;
    border-radius: 5px;
    max-width: 420px;
}
.apartment:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* transform: scale(0.98); */
    transition: all 0.3s ease-in-out;
}
.apartment img {
    object-fit: cover;
    object-position: center;
    height: 240px;
    margin:1.5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
}
.apartment-location {
    text-align: center;
    padding: 0 1.5rem;
}
.apartment-location p {
    font-family: 'gilroy-medium';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #F0F0F0;

}

.core-ammenities {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin: 1rem 0;
    color: #FFF;
}
.core-ammenities span {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
}
.core-ammenities span .iconify {
    font-size: 20px;
}
.core-ammenities span p {
    font-family: 'gilroy-medium';
}

.apartment-prices {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.5rem;
    background-color: #4733ac20;
    margin-top: auto;
    border-top: none !important;
}

.apartment-prices span {
    display: flex;
    align-items: center;
}
.apartment-prices span p {
    font-family: 'gilroy-medium';
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.apartment-prices span p:nth-child(1) {
    padding-right: .5rem;
    border-right: 1px solid #ECECEC;
}
.apartment-prices span p:nth-child(2) {
    padding-left: .5rem;
}
.apartment-prices span p small {
    font-size: 12px;
}
.apartment-prices a {
    display: flex;
    align-items: center;
    background: #FFF;
    margin-left: auto;
    font-size: 24px;
    color: #4733AC;
    border-radius: 50%;
}





.available-spaces-container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding: 3rem 80px;
}

.available-spaces header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}
.available-spaces header h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #050213;
}
.available-spaces header .filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    height: 45px;
    width: 130px;
    background: rgba(71, 51, 172, 0.05);
    border: 1px solid rgba(71, 51, 172, 0.357);
    outline: none;
    border-radius: 5px;
    color: #050213;
}
.filter-iconify {
    color: #4733AC;
    font-size: 24px !important;
    transition: all 0.3s linear;
}
.filter-close-icon {
    color: #D63434;
    transform: rotate(180deg);
    transition: all 0.3s linear;
}
.filter-btn p {
    font-family: 'gilroy-medium';
    font-size: 16px;
}
.available-spaces header .filter-btn:hover {
    background-color: #7572EA;
    color: #ECECEC !important;
}
.filter-btn:hover .iconify{
    color: #ECECEC !important;
}

.filter-form {
    display: none;
    column-gap: 1rem;
    justify-content: space-between;
    background: rgba(71, 51, 172, 0.05);
    border: 0.5px solid rgba(71, 51, 172, 0.3);
    transition: all 0.4s ease-in;
    transform: translate(100%);
    border-radius: 3.9038px;
    margin-top: 3rem;
    padding: 2rem;
    position: relative;
}
.active-filter-form {
    display: flex;
    transition: all 0.4s ease-in;
    transform: translate(00%);
}
.filter-inputs {
    display: flex;
    flex-direction: column;

    position: relative;
    padding-top: 1.5rem;
    width: 100%;
}
.filter-inputs label {
    position: absolute;
    left: 2rem;
    top: .5rem;
    padding: .3rem 1rem;
    background-color: #E4E3E9;
}
.filter-inputs input,
.filter-inputs select {
    height: 55px;
    padding: 0 1rem;
    border: 1px solid rgba(117, 117, 117, 0.5);
    border-radius: 5px;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
}

.filter-inputs input:hover,
.filter-inputs input:focus,
.filter-inputs select:hover,
.filter-inputs select:focus
 {
    border-color: #7572EA;
    outline: none;
}
.filter-inputs option {
    color: #757575 !important;
}
.filter-inputs input::placeholder {
    color: #757575;
}
.filter-inputs input:-webkit-autofill,
.filter-inputs input:-webkit-autofill:hover, 
.filter-inputs input:-webkit-autofill:focus,
.filter-inputs select:-webkit-autofill,
.filter-inputs select:-webkit-autofill:hover,
.filter-inputs select:-webkit-autofill:focus {
    border: 1px solid rgba(117, 117, 117, 0.5);
  -webkit-text-fill-color: #FFF;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* .market-apartments .apartment {
    display: flex;
    flex-direction: column !important;
    border: 1px solid rgba(17, 17, 17, 0.1) !important;
    border-radius: 5px;
    color: #1A1A1A;
} */
/* .market-apartments .apartment-prices {
    background: rgba(71, 51, 172, 0.1);
    border-top: 1px solid rgba(17, 17, 17, 0.1);
} */
.market-apartments .apartment-location p {
    color: #555;
}
.market-apartments .core-ammenities { 
    color: #333;
}


.market-apartments .apartment-prices span p {
    color: #333;
}




.get-listed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 100%;
    background: rgba(71, 51, 172, 0.1);
    border: 1px solid rgba(71, 51, 172, 0.2);
    border-radius: 10px;
    margin-top: 6rem;
}
.get-listed-container  p {
    font-size: 16px;
}
.get-listed-container  h3  {
    font-family: 'gilroy-medium';
    font-size: 42px;
    margin: 1rem;
    color: #050213;
}
.get-listed-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background: #4733AC;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    margin-top: .3rem;
    font-size: 16px;
    border: none;
    outline: none;
}
.get-listed-container button:hover {
    background: #7572EA;
}


@media screen and (max-width: 1100px) {
    .market-container {
        padding: 4rem 24px;
    }
    .apartments {
        column-gap: 2rem;
        row-gap: 2rem;
    }
    .available-spaces-container {
        padding: 4rem 24px;
    }
}
@media screen and (max-width: 786px) {

    .market-container,
    .available-spaces-container {
        padding: 4rem 1rem;
    }
    .available-spaces header h3 {
        font-size: 28px;
    }
    .available-spaces header .filter-btn {
        width: 80px;
        column-gap: .2rem;
        align-items: center;
    }
    .filter-btn .iconify {
        font-size: 20px;
        transform: translateY(-3px);
    }
    .filter-btn p {
        font-size: 16px;
    }
    .filter-form {
        padding-top: 1.5rem;
    }
    .filter-inputs {
        padding-top: 1rem;
    }
    .filter-inputs label {
        top: 0rem;
    }
    .apartments {
        margin-top: 2rem;
    }
    .apartment-prices {
        padding: .8rem 1.5rem;
    }
    .apartment img {
        min-height: 320px;
        margin: 1.5rem;
    }
    .explore-cta  button{
        height: 55px !important;
    }
    .get-listed-container {
        text-align: center;
    }
    .get-listed-container h3 {
        font-size: 32px;
        line-height: 50px;
    }
    .get-listed-container button {
        width: 160px;
        height: 50px;
    }
}

.next-prev {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-self: center;
    height: 100%;
    padding-top: 5rem;
    
}
.prev {
    height: 100%;
    background-color: #a09ed0;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.next {
    height: 100%;
    background-color: #7572EA;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #E4E3E9;
}