.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    padding: 0rem 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.85) !important;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    z-index: 1111111;
}
.logo {
    display: flex;
}
.logo img {
    width: 45px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute  ;
    left: 50%;
    transform: translate(-50%);
    max-width: 270px;
}
.nav-links .nav-link {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #050213;
}
.nav-link:hover {
    transition: all 0.2s ease-out;
    color: #4733AC;
}
.cta-btn {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.cta-btn button {
    background: none;
    outline: none;
    width: 100px;
    height: 40px;
    border: 2px solid #4733AC;
    border-radius: 5px;
}
.cta-btn button:hover {
    background: #4733AC;
    color: #FFF;
    transition: all 0.4s ease-in-out;
}
.hamburger {
    display: none;
}


.nav-content {
    display: none;
}
.nav-shows .nav-links{
    display: none;
}
.nav-content.nav-shows {
    display: none;
}


@media screen and (max-width: 1100px) {
    .nav-bar {
        padding: 0rem 24px;
    }
}
@media screen and (max-width: 768px) {
    .nav-bar {
        z-index: 11111;
        padding: 0rem 1rem;
        height: 70px;
    }
    .logo img {
        width: 36px;
    }
    .nav-links {
        display: none;
    }
    /* .nav-links-mobile {
        display: flex;
        min-height: 500px;
    } */
    .cta-btn {
        display: none;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: .4rem;
        height: 100%;
    }
    /* .hamburger div {
        width: 30px;
        height: 3px;
        background: #1A1A1A;
    } */

    .nav-content {
        max-height: 0;
        transform: translateX(100%);
    /*  */
    }
    .nav-content.nav-shows {
        transition: 1.5s ease-in;
        transform: translateX(0%);
        display: flex;
        min-height: 300px;
        margin-top: 70px;
        background-color: #ECECEC;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.5rem;
        /* border-top: 1px solid #050213; */
        z-index: 111111111111111;
    }
    .nav-shows .nav-links{
        display: flex;
        flex-direction: column;
        position: relative !important;
    }
    
}