
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5rem;
    background-color: #050213;
    /* height: 100%; */
    min-height: 80vh;
    padding: 0 80px;
    padding-top: 5rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    /* display: none; */
}
.footer-newsletter-container {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 5rem;
    border: 1px dashed #4733AC;
}

.footer-newsletter-container header {
    display: flex;
    flex-direction: column;
}
.footer-newsletter-container h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.footer-newsletter-container p {
   max-width: 450px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #F0F0F0;
    margin-top: 1rem;
    padding: 0 1rem;
}

.footer-quicklinks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
}

.quick-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quick-links p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.footer-nav-links {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    width: 100%;
    max-width: 550px;
    margin-top: 1.5rem;
}
.footer-nav-links a {
    font-size: 16px;
    color: #f0f0f0;
}

.footer-sm-container {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid #4733AC;
    color: #F0F0F0;
}

.footer-sm-container main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-sm-container main p {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}
.footer-sm-container main ul {
    display: flex;
    width: 100%;
    column-gap: 1rem;
    min-width: 200px;
}
.footer-sm-container main li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
}
.footer-sm-container main a {
    display: flex;
    text-align: center;
    margin: auto;
    color: #F0F0F0;
    font-size: 18px;
}
.newsletter-form {
    position: relative;
    margin-top: 2.5rem;
    width: 100%;
    max-width: 500px;
    padding: 0 1rem;
    overflow: hidden;
}
.newsletter-form input {
    font-family: 'gilroy-regular';
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #757575;
    width: 100%;
    height: 55px;
    padding: .5rem 0rem;
    color: #fff;
    overflow: hidden;
}
.newsletter-form input::placeholder {
    text-transform: lowercase;
    font-weight: 400;
    font-size: 16px;
    color: #8C8C8C;
    overflow: hidden;
}
.newsletter-form button {
    position: absolute;
    right: 1rem;
    top:3px;
    /* transform: translateY(50%); */
    background: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.newsletter-form button .iconify {
    transform: rotate(90deg);
    font-size: 22px;
    color: #fff;
}
@media  (min-width:968px) {

    .blog-newsletter-container {
        margin: 8rem 80px;
    }
}

@media  (max-width:768px) {
    footer {
        padding: 0 1rem;
    }
    .footer-newsletter-container {
       min-height: 200px;
        padding:  3rem 1rem;
        margin-top: 4rem;
        border-radius: 5px;
    }
    .footer-newsletter-container header {
        margin: auto;
    }
    .footer-newsletter-container h3 {
        font-size: 30px;
        padding: 0;
    }
    .footer-newsletter-container p {
        font-size: 16px;
        line-height: 26px;
        padding: 0;
        margin-top: 1rem;
    }
    .newsletter-form {
        margin: 0rem;
        margin-top: 1rem;

    }
    .newsletter-form input {
        width: 100%;
        margin: 0rem;
        min-height: 55px;
        border-radius: 0;
    }
    .newsletter-form input::placeholder {
        font-size: 16px;
    }
        .newsletter-form button p{
        display: flex;
        font-size: 16px;
    }
    .newsletter-form button .iconify {
        transform: rotate(45deg);
        font-size: 20px;
    }


    .footer-nav-links {
        column-gap: 1rem;
    }
    .footer-nav-links a {
        font-size: 14px;
        font-weight: 500;
    }
    .footer-sm-container {
        margin-bottom: 2rem;
    }
    .footer-sm-container main p {
        font-size: 14px;
        display: none;
    }
    .footer-sm-container main ul {
        column-gap: .5rem;
        margin-left: 0rem;
    }
    .footer-sm-container main li {
        min-width: 24px;
        height: 24px;
    }
    .footer-sm-container main a {
        font-size: 14px;
    }
    .footer-sm-container small p{
        font-size: 12px;
        white-space: nowrap;
    }
}