.market-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 6rem 80px;
    background-color: #4733AC;
    margin-top: 4rem;
}
.market-container header #market {
    background-color: #fff;

}
#market p {
    color: #333 !important;
}
.market-container header h2 {
    text-align: center;
    margin: 0  auto;
    margin-top: 1.5rem;
    color: #fff;
}
.homepage-apartments {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 2rem;
    row-gap: 3rem;
    margin-top: 64px;
}
.homepage-apartment{
    display: flex;
    justify-content: space-between !important;
    flex-direction: column;
    background: #7672ea22;
    border-radius: 5px;
    max-width: 450px;
}
.homepage-apartment:hover {
    transition: all 0.3s ease-in;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: #7572EA70;
}
.homepage-apartment img {
    object-fit: cover;
    object-position: center;
    height: 280px;
    margin: 1rem;
    border-radius: 3px;
}
.homepage-apartment .apartment-location {
    text-align: center;
    padding: 0 1.5rem;
}
.homepage-apartment .apartment-location p {
    font-family: 'gilroy-medium';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ECECEC;

}

.homepage-apartment .core-ammenities {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 1rem;
    color: #FFF;
}
.homepage-apartment .core-ammenities span {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .4rem;
}
.core-ammenities span .iconify {
    font-size: 20px;
}
.core-ammenities span p {
    font-family: 'gilroy-medium';
}

.homepage-apartment .apartment-prices {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.5rem;
    background: #4733ac60 !important;
    /* margin-top: auto; */
    /* justify-content: baseline; */
}

.homepage-apartment .apartment-prices span {
    display: flex;
    align-items: center;
}
.apartment-prices span p {
    font-family: 'gilroy-medium';
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.apartment-prices span p:nth-child(1) {
    padding-right: .5rem;
    border-right: 1px solid #ECECEC;
}
.apartment-prices span p:nth-child(2) {
    padding-left: .5rem;
}
.apartment-prices span p small {
    font-size: 12px;
}
.apartment-prices a {
    display: flex;
    align-items: center;
    background: #FFF;
    margin-left: auto;
    font-size: 24px;
    color: #4733AC;
    border-radius: 50%;
}

.explore-cta  {
    margin-top: 5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 60px;
    background: #7572EA;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}
.explore-btn p {
    color: #f0f0f0;
    font-family: 'gilroy-bold';
    font-style: normal;
    font-size: 28px;
    letter-spacing: 0.01em;
}
.explore-icon {

    font-size: 32px !important;
    margin-left: .4rem;
}
.explore-cta .explore-btn:hover {
    background: #ECECEC;
    color: #4733AC !important;
    transition: all 0.3s ease-in-out;
    transform: scale(0.98);
}
.explore-btn:hover p{
    color: #4733AC;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1100px) {
    .market-container {
        padding: 4rem 24px;
    }
    .homepage-apartments  {
        /* order: 3; */
        column-gap: 2rem;
        row-gap: 2rem;
    }
}
@media screen and (max-width: 786px) {

    .market-container {
        padding: 4rem .5rem;
    }
    .homepage-apartments  {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        column-gap: 1rem;
    }
    .apartment-prices {
        padding: .8rem 1rem !important;
    }
    .homepage-apartments img {
        min-height: 270px !important;
        margin: 1.5rem 1rem !important;
    }
    .explore-btn {
        height: 50px;
    }
    .explore-btn p {
        font-size: 24px;
    }
    .explore-icon {
        font-size: 24px;
    }
}